.icon-48-abilities {
      background-image: url(../images/l_abilities.png);
      padding-left:60px!important;
}

.icon-48-ability {
      background-image: url(../images/l_abilities.png);
      padding-left:60px!important;
}

.icon-48-items {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.icon-48-item {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.icon-48-heroes {
      background-image: url(../images/l_heroes.png);
      padding-left:60px!important;
}

.icon-48-hero {
      background-image: url(../images/l_heroes.png);
      padding-left:60px!important;
}

.form-horizontal .controls {
    margin-left: 140px !important;
}